body{
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #40514e;

}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  color: white;
  font-weight: 700;
  color:#66BFBF;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  color: #11999E;
}

a {
  color: #11999E;
  margin: 10px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  text-transform: capitalize;
  color: #eaf6f6;
}


p{
  line-height: 2;
}

.topContainer {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}



.middleContainer {

}

.bottomContainer {

}

.cloudOne {
  position: absolute;
  left: 900px;
  top: 30px
}

.cloudTwo {
  position: absolute;
  left: 200px;
  top: 200px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.uxImg{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.codeImg{
  width: 25%;
  float: right;
  margin-left: 30px;

}
.backImg{
  width: 100%;
  position: absolute;
  margin-top: 0;
}

.profile {
  margin-top: 50px;
}


hr {
  width: 10%;
  color: grey;
  border-top: dotted 5px;
margin: 100px auto;
}

.bottom-container {
  background-color: #66bfbf;
  padding-top: 40px;
  padding-bottom: 20px;

}

.copyrightText {
  color: #eaf6f6;
  font-size: 0.7rem;
}

.footer-link{
  color: #11999E
  padding: auto 100px auto 100px;
  font-family: 'Poppins', sans-serif;

}


.BUTTON_C {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #1E62D0);
   background-image: -moz-linear-gradient(top, #66BFBF, #1E62D0);
   background-image: -ms-linear-gradient(top, #66BFBF, #1E62D0);
   background-image: -o-linear-gradient(top, #66BFBF, #1E62D0);
   background-image: -webkit-gradient(to bottom, #66BFBF, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 20px;
}

.BUTTON_C:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}


.pBio {
  width: 300px;
  margin: 0 auto 0 auto;
}

.contactMessage{
  width: 40%;
  margin: 40px auto 60px;

}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
